extern mod std;

pub mod board;
pub mod player;
pub mod utils;
pub mod tests;

use core::os;

use board::Position;
use player::Player;
use utils::*;

fn main() {
    let color = match os::args()[1] {
        ~"Black" => board::Black,
        ~"White" => board::White,
        _ => fail!(~"Not a valid color argument")
    };
    let mut bot = Player::new(color);

    write("Init done");
    loop {
        let input = read();

        let split = str::split_char(input, ' ');
        fail_unless!(split.len() == 3);
        let ints = split.map(|s| int::from_str(*s).get());
        let (move_x, move_y) = (ints[0], ints[1]);

        let Position(my_x, my_y) = bot.choose_move(Position(move_x, move_y));
        write(fmt!("%d %d", my_x, my_y));
    }
}